# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Packaging files:
*.egg*

# Logs:
*.log

# Environment variables
.env/
.env

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*
